@import url("https://fonts.googleapis.com/css2?family=Domine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Domine", serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

main {
  background-image: url("../images/fondodemain.jpg?");
  background-size: cover;
  background-color: #3a3a3d;
}

@keyframes animacion {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
nav {
  height: 12rem;
}
nav .bg-dark {
  height: 12rem;
  background-image: url("../images/fondodenav.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav .bg-dark .container-fluid .navbar-brand {
  overflow: hidden;
  object-fit: cover;
  transition: 0.4s ease-out;
}
nav .bg-dark .container-fluid .navbar-brand:hover {
  transform: scale(1.12, 1.12);
  filter: saturate(135%);
}
nav .bg-dark .container-fluid .navbar-brand img {
  width: 11rem;
  height: auto;
  padding: 0rem 0rem 0rem 2rem;
  transition: 0.4s ease-out;
}
nav .bg-dark .container-fluid .navbar-brand img:hover {
  padding: 0rem 0rem 0rem 1rem;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav {
  gap: 0.5rem;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item {
  transition: 0.6s ease-out;
  padding: 0rem 0.3rem;
  border-radius: 1rem;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item:hover {
  background-color: rgba(25, 167, 206, 0.631372549);
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 2.5rem;
  color: #19a7ce;
  transition: 0.4s ease-out;
  text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover, nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:focus {
  color: #ffffff;
  text-shadow: 0.25rem 0.15rem 0.3rem #000000;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link i {
  padding: 0rem 1rem;
  text-shadow: none;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link i:hover {
  text-shadow: 0.25rem 0.15rem 0.3rem #000000;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .active {
  color: #ffffff;
  text-shadow: none;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .nav-item .active:hover {
  text-shadow: 0.3rem 0.2rem 0.3rem #000000;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
  background-color: rgba(25, 167, 206, 0.631372549);
  font-size: 1.7rem;
  padding: 0.5rem;
  margin: 0rem 0.6rem;
  text-align: center;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
  color: #ffffff;
  text-shadow: 0.25rem 0.15rem 0.3rem #000000;
  border-radius: 0.3rem;
  transition: 0.4s ease-out;
  margin: 0.3rem 0rem;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: #000000;
  text-shadow: 0.15rem 0.1rem 0.3rem #000000;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-divider {
  margin: 0.1rem 0rem;
}
nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .menu-micuenta {
  margin: 0rem 2.3rem;
}

.footer {
  display: grid;
  place-items: center;
  padding: 1rem;
  gap: 1rem;
  background-image: url("../images/fondodenav.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3" "area4 area4 area4";
}
.footer-logo-caja1 {
  grid-area: area1;
}
.footer-redes-caja2 {
  grid-area: area2;
}
.footer-horario-caja3 {
  grid-area: area3;
}
.footer-logo {
  display: flex;
  padding: 0.5rem;
}
.footer-logo img {
  width: 30rem;
  transition: 0.4s ease-out;
}
.footer-logo img:hover {
  transform: scale(1.1, 1.1);
  filter: saturate(120%);
}
.footer-redes {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem;
  list-style-type: none;
  margin: 0rem;
  flex-wrap: wrap;
  align-items: center;
}
.footer-redes-list {
  transition: 0.2s ease-out;
}
.footer-redes-list:hover {
  transform: scale(1.3, 1.3);
  filter: saturate(140%);
}
.footer-redes-list-link i {
  font-size: 4rem;
  padding: 1rem;
  margin: 0rem;
  transition: 0.2s ease-out;
}
.footer-redes-list-link .bi-youtube {
  color: #ff0000;
}
.footer-redes-list-link .bi-twitter {
  color: #19a7ce;
}
.footer-redes-list-link .bi-whatsapp {
  color: #2dda41;
}
.footer-redes-list-link .bi-facebook {
  color: #1778f2;
}
.footer-redes-list-link .bi-instagram {
  color: #d94561;
}
.footer .footer-horario {
  display: flex;
  flex-direction: column;
  border: 0.3rem solid #19a7ce;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.footer .footer-horario h4,
.footer .footer-horario h3,
.footer .footer-horario h5 {
  font-size: 2.5rem;
  padding: 1rem;
  margin: 0rem;
  color: #19a7ce;
  text-decoration: underline;
}
.footer .footer-horario-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
  list-style-type: none;
  margin: 0rem;
}
.footer .footer-horario-list li p {
  font-size: 1.6rem;
  color: #19a7ce;
}
.footer p {
  grid-area: area4;
  text-align: center;
  display: flex;
  font-size: 1.5rem;
  padding: 0rem 1rem 0.5rem 1rem;
  margin: 0rem;
  color: #19a7ce;
}

.bienvenida h1,
.titulo-principal {
  font-size: 3.5rem;
  padding: 3rem 2rem;
  margin: 0rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  text-shadow: 0.25rem 0.25rem 0.1rem #000000;
  animation-name: animacion;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 1s;
  transform: scale(1);
}

.titulo-articulo {
  font-size: 2.3rem;
  padding: 1rem;
  margin: 0rem;
  color: #d6d3d3;
  text-decoration: underline;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 6rem;
  height: 6rem;
}

.contacto-comunicate-formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d6d3d3;
  font-size: 2rem;
}
.contacto-comunicate-formulario .formulario-registro {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.2rem;
}
.contacto-comunicate-formulario .formulario-registro input {
  width: 40rem;
  height: 3rem;
  border: 0.25rem solid #19a7ce;
  padding: 0rem 0.5rem;
  transition: 0.3s ease-in-out;
}
.contacto-comunicate-formulario .formulario-registro input:hover {
  box-shadow: 0rem 0rem 4rem #000000;
  height: 3.5rem;
}
.contacto-comunicate-formulario .formulario-registro-fecha:hover, .contacto-comunicate-formulario .formulario-registro-fecha:focus {
  box-shadow: 0rem 0rem 4rem #000000;
  height: 3.5rem;
}
.contacto-comunicate-formulario .formulario-registro select {
  width: 40rem;
  border: 0.25rem solid #19a7ce;
  transition: 0.3s ease-in-out;
}
.contacto-comunicate-formulario .formulario-registro select:hover, .contacto-comunicate-formulario .formulario-registro select:focus {
  box-shadow: 0rem 0rem 4rem #000000;
  height: 3.5rem;
}
.contacto-comunicate-formulario .formulario-registro textarea {
  width: 40rem;
  height: 20rem;
  border: 0.25rem solid #19a7ce;
  padding: 0rem 0.5rem;
  resize: none;
  transition: 0.3s ease-in-out;
}
.contacto-comunicate-formulario .formulario-registro textarea:hover {
  height: 21rem;
  box-shadow: 0rem 0rem 4rem #000000;
}
.contacto-comunicate-formulario .formulario-registro-button {
  background-color: rgba(255, 255, 255, 0.4431372549);
  padding: 0.5rem 1rem;
  transition: 0.3s ease-out;
  border: 0.2rem solid #000000;
}
.contacto-comunicate-formulario .formulario-registro-button:hover {
  background-color: rgba(25, 167, 206, 0.631372549);
  color: #ffffff;
  text-shadow: 0.15rem 0.15rem 0.1rem #000000;
  border-radius: 1rem;
  transform: translateY(-10%);
}
.contacto-comunicate-formulario .formulario-registro a {
  text-decoration: none;
  color: #d6d3d3;
  transition: 0.3s ease-out;
}
.contacto-comunicate-formulario .formulario-registro a:hover {
  color: #19a7ce;
  text-decoration: underline;
}

.productoscatalogo h2,
.productosindex h2 {
  grid-area: area1;
  font-size: 3.5rem;
  padding: 1rem;
  margin: 0rem;
  color: #ffffff;
  text-shadow: 0.25rem 0.25rem 0.1rem #000000;
}
.productoscatalogo .clases-productos-caja2,
.productosindex .clases-productos-caja2 {
  grid-area: area2;
}
.productoscatalogo .clases-productos-caja3,
.productosindex .clases-productos-caja3 {
  grid-area: area3;
}
.productoscatalogo .clases-productos-caja4,
.productosindex .clases-productos-caja4 {
  grid-area: area4;
}
.productoscatalogo .clases-productos-caja5,
.productosindex .clases-productos-caja5 {
  grid-area: area5;
}
.productoscatalogo .clases-productos,
.productosindex .clases-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2392156863);
  border: 0.1rem solid rgba(0, 0, 0, 0.2392156863);
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  box-shadow: 0rem 0rem 4rem #000000;
  padding: 1rem;
  width: 30rem;
  height: 53rem;
  text-align: center;
  overflow: hidden;
}
.productoscatalogo .clases-productos img,
.productosindex .clases-productos img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.productoscatalogo .clases-productos img:hover,
.productosindex .clases-productos img:hover {
  transform: scale(1.05, 1.05);
}
.productoscatalogo .clases-productos-nombre,
.productosindex .clases-productos-nombre {
  font-size: 2rem;
  padding: 1.3rem 0.5rem;
  margin: 0rem;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.productoscatalogo .clases-productos-nombre:hover,
.productosindex .clases-productos-nombre:hover {
  transform: scale(1.08, 1.08);
}
.productoscatalogo .clases-productos-precio,
.productosindex .clases-productos-precio {
  font-size: 2.5rem;
  padding: 0.3rem;
  margin: 0rem;
  color: #ffffff;
}
.productoscatalogo .clases-productos-envio,
.productosindex .clases-productos-envio {
  font-size: 1.5rem;
  padding: 0.3rem;
  margin: 0rem;
  color: #2dda41;
}
.productoscatalogo .clases-productos-click,
.productosindex .clases-productos-click {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
}
.productoscatalogo .clases-productos-click1,
.productosindex .clases-productos-click1 {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0rem;
  color: #ffffff;
  background-color: rgba(143, 156, 160, 0.4745098039);
  border-radius: 1rem;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
.productoscatalogo .clases-productos-click1:hover,
.productosindex .clases-productos-click1:hover {
  background-color: rgba(25, 167, 206, 0.631372549);
  text-shadow: 0.25rem 0.15rem 0.1rem #000000;
  transform: translateY(-10%);
}

.novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7176470588);
  text-align: center;
  padding: 4rem;
}
.novedades h3,
.novedades h2 {
  font-size: 3rem;
  padding: 1rem;
  margin: 0rem;
  color: #ffffff;
}
.novedades p {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0rem;
  color: #ffffff;
}
.novedades-form {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.novedades-form .form-control {
  display: flex;
  font-size: 1.5rem;
  width: 40rem;
  height: 3rem;
  margin: 0rem;
  padding: 0rem;
}
.novedades-form .btn-secondary {
  font-size: 1.2rem;
  background-color: #19a7ce;
  transition: 0.15s ease-out;
}
.novedades-form .btn-secondary:hover {
  filter: opacity(80%);
}

.catalogo {
  display: grid;
  place-items: center;
  padding: 5rem 2rem;
  gap: 1rem;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3 area4";
  background-color: rgba(0, 0, 0, 0.7176470588);
  margin: 0rem;
}
.catalogo-seccion {
  transition: 0.4s;
}
.catalogo-seccion:hover {
  transform: scale(1.2, 1.2);
}
.catalogo-seccion a {
  font-size: 1.7rem;
  padding: 1.5rem;
  margin: 0rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.4431372549);
  border-radius: 1rem;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.catalogo-seccion a:hover {
  background-color: rgba(25, 167, 206, 0.631372549);
  transform: scale(1.12, 1.12);
  text-shadow: 0.25rem 0.25rem 0.2rem #000000;
  border-radius: 2rem;
}
.catalogo-seccion-caja1 {
  grid-area: area1;
}
.catalogo-seccion-caja2 {
  grid-area: area2;
}
.catalogo-seccion-caja3 {
  grid-area: area3;
}
.catalogo-seccion-caja4 {
  grid-area: area4;
}

.productoscatalogo {
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
  gap: 5rem 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1 area1" "area2 area3 area4 area5" "..... area6 area7 ....." "area8 area8 area8 area8";
}
.productoscatalogo .clases-productos-caja6 {
  grid-area: area6;
}
.productoscatalogo .clases-productos-caja7 {
  grid-area: area7;
}
.productoscatalogo .clases-productos-caja8 {
  font-size: 1.5rem;
  padding: 2rem;
  margin: 0rem;
  grid-area: area8;
  color: #ffffff;
  text-decoration: none;
  transition: 0.3s ease-out;
}
.productoscatalogo .clases-productos-caja8:hover {
  transform: translateY(-15%);
}
.productoscatalogo .clases-productos-caja8 a {
  font-size: 2rem;
  padding: 1.5rem;
  margin: 0rem;
  color: #ffffff;
  border-radius: 1rem;
  background-color: rgba(25, 167, 206, 0.631372549);
  text-decoration: none;
  transition: 0.3s ease-out;
}
.productoscatalogo .clases-productos-caja8 a:hover {
  color: #ffffff;
  border-radius: 2rem;
  text-shadow: 0.25rem 0.15rem 0.1rem #000000;
}

.micuenta {
  display: grid;
  place-items: center;
  padding: 2rem;
  gap: 0;
  grid-template-columns: repeat(2 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1" "area2 area3" "area4 area5" "..... area5";
}
.micuenta-caja1 {
  grid-area: area1;
}
.micuenta-caja2 {
  grid-area: area2;
}
.micuenta-caja3 {
  grid-area: area3;
}
.micuenta-acceso {
  display: flex;
  grid-area: area4;
  justify-items: start;
}
.micuenta-registro {
  grid-area: area5;
}

.informacion {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 4rem;
  text-align: center;
}
.informacion p {
  font-size: 2.2rem;
  padding: 1rem;
  margin: 0rem;
  color: #ffffff;
}

.informacion-galeria {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 5rem 1rem;
}
.informacion-galeria img {
  width: 35.5rem;
  height: 23rem;
  object-fit: cover;
}

.contacto {
  display: grid;
  place-items: center;
  padding: 2rem 2rem 6rem 2rem;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1" "area2 area3" "area4 area5" "area6 area5" "area7 area5" "..... area5";
}
.contacto-caja1 {
  grid-area: area1;
}
.contacto-caja2 {
  grid-area: area2;
}
.contacto-caja3 {
  grid-area: area3;
}
.contacto-redes-caja4 {
  grid-area: area4;
  display: flex;
  gap: 3rem;
  padding: 5rem 1rem;
  list-style-type: none;
}
.contacto-redes-caja4 li {
  transition: 0.3s ease-in-out;
}
.contacto-redes-caja4 li:hover {
  transform: scale(1.2, 1.2);
}
.contacto-redes-caja4 li .redes-link i {
  font-size: 6rem;
  padding: 1rem;
  margin: 0rem;
}
.contacto-redes-caja4 li .redes-link .bi-twitter {
  color: #19a7ce;
}
.contacto-redes-caja4 li .redes-link .bi-whatsapp {
  color: #2dda41;
}
.contacto-redes-caja4 li .redes-link .bi-facebook {
  color: #1778f2;
}
.contacto-redes-caja4 li .redes-link .bi-instagram {
  color: #d94561;
}
.contacto-comunicate-caja5 {
  grid-area: area5;
  border-left: 0.2rem solid #ffffff;
  padding: 0rem 2rem;
}
.contacto-comunicate-caja5 p {
  color: #d6d3d3;
  font-size: 1.7rem;
  text-align: center;
}
.contacto-comunicate-caja5 h3 {
  font-size: 2.2rem;
  padding: 1rem;
  margin: 0rem;
  color: #d6d3d3;
  text-align: center;
}
.contacto-caja6 {
  grid-area: area6;
}
.contacto .ubicacion-iframe-caja7 {
  grid-area: area7;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  align-items: center;
}
.contacto .ubicacion-iframe-caja7 iframe {
  width: 90%;
  height: 40rem;
  border-radius: 2rem;
}
.contacto .ubicacion-iframe-caja7 p {
  font-size: 1.5rem;
  padding: 0.1rem;
  margin: 0rem;
  color: #d6d3d3;
  text-align: center;
}

.categoria {
  display: grid;
  place-items: center;
  padding: 1rem;
  gap: 10rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3 area4";
}
.categoria-partes-caja1 {
  grid-area: area1;
}
.categoria-partes-caja2 {
  grid-area: area2;
}
.categoria-partes-caja3 {
  grid-area: area3;
}
.categoria-partes-caja4 {
  grid-area: area4;
}
.categoria-partes {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  padding: 0.5rem;
}
.categoria-partes-nombre {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0rem;
  color: #ffffff;
  transition: 0.2s ease-out;
  text-decoration: none;
}
.categoria-partes-nombre:hover {
  font-size: 3rem;
  padding: 0rem;
  margin: 0rem;
  color: #19a7ce;
  text-shadow: 0.1rem 0.1rem 0.1rem #ffffff;
}
.categoria-partes a img {
  width: 23rem;
  height: auto;
  object-fit: cover;
  border: 0.3rem solid #ffffff;
  border-radius: 100%;
  transition: 0.2s ease-out;
}
.categoria-partes a img:hover {
  border: 0.3rem solid #19a7ce;
}

.ofrecemos-conjuntodepartes {
  display: grid;
  place-items: center;
  padding: 1rem;
  gap: 0.5rem;
  background-color: rgba(255, 255, 255, 0.4431372549);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area2 area3 area4";
}
.ofrecemos-conjuntodepartes .ofrecemos-partes-caja1 {
  grid-area: area1;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes-caja2 {
  grid-area: area2;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes-caja3 {
  grid-area: area3;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes-caja4 {
  grid-area: area4;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border: 0.2rem solid #000000;
  border-radius: 100%;
}
.ofrecemos-conjuntodepartes .ofrecemos-partes p {
  font-size: 1.5rem;
  padding: 1.4rem 0.5rem;
  margin: 0rem;
  color: rgba(0, 0, 0, 0.7176470588);
}
.ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
  color: #000000;
  font-size: 1.6rem;
}

.productosindex {
  display: grid;
  place-items: center;
  padding: 4rem 2rem;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "area1 area1 area1 area1" "area2 area3 area4 area5";
}

@media only screen and (max-width: 1400px) {
  .categoria {
    gap: 5rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes {
    padding: 0rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p {
    font-size: 1.4rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
    font-size: 1.5rem;
  }
  .productoscatalogo .clases-productos,
  .productosindex .clases-productos {
    padding: 0.5rem;
    width: 27rem;
  }
  .informacion-galeria {
    gap: 1rem;
    padding: 5rem 0.5rem;
  }
  .footer-redes {
    gap: 1rem;
    padding: 0.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  .bienvenida h1 {
    font-size: 3rem;
  }
  .categoria-partes a img {
    width: 19.5rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p {
    font-size: 1.3rem;
    padding: 0.3rem;
    margin: 0;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
    font-size: 1.4rem;
  }
  .productosindex {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area1" "area2 area3" "area4 area5";
    gap: 1rem;
    padding: 4rem 1rem;
  }
  .productoscatalogo .clases-productos,
  .productosindex .clases-productos {
    padding: 1rem;
    width: 30rem;
  }
  .productoscatalogo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "area1 area1 area1" "area2 area3 area4" "area5 area6 area7" "area8 area8 area8";
  }
  .informacion-galeria {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .informacion-galeria img {
    width: 70%;
    height: auto;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area3" "area2 ....." "area4 area4";
  }
  .footer-redes {
    gap: 2rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  nav {
    height: 10.6rem;
  }
  nav .navbar-dark {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2825, 167, 206, 0.90%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  nav .bg-dark {
    height: auto;
  }
  nav .bg-dark .container-fluid .navbar-brand img:hover {
    padding: 0rem 0rem 0rem 2rem;
  }
  nav .bg-dark .container-fluid .navbar-toggler {
    font-size: 1.5rem;
    padding: 0.2rem;
    margin: 0rem 1rem;
    border: 0.2rem solid #19a7ce;
    transition: 0.3s ease-out;
    box-shadow: none;
  }
  nav .bg-dark .container-fluid .navbar-toggler:focus {
    box-shadow: 0rem 0rem 1rem #19a7ce;
  }
  nav .bg-dark .container-fluid .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    background-color: transparent;
    border: none;
    text-align: left;
    margin: 0rem 0.6rem;
  }
  .bienvenida h1 {
    font-size: 2.5rem;
  }
  .categoria {
    gap: 3rem;
  }
  .categoria-partes-nombre {
    font-size: 2rem;
  }
  .categoria-partes-nombre:hover {
    font-size: 2.5rem;
  }
  .categoria-partes a img {
    width: 15rem;
  }
  .ofrecemos-conjuntodepartes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area2" "area3 area4";
    justify-items: start;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes {
    justify-content: space-between;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes img {
    width: 7rem;
    height: 7rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p {
    font-size: 1.5rem;
    padding: 1.4rem 0.5rem;
    margin: 0;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
    font-size: 1.6rem;
  }
  .productoscatalogo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area1" "area2 area3" "area4 area5" "area6 area7" "area8 area8";
  }
  .informacion-galeria img {
    width: 85%;
  }
  .micuenta {
    grid-template-areas: "area1 area1" "area2 area2" "area4 area4" "area3 area3" "area5 area5";
    gap: 2rem;
    padding: 1rem;
  }
  .micuenta-acceso {
    grid-area: area4;
    border-bottom: 0.1rem solid #ffffff;
    width: 100%;
    padding: 0rem 0rem 3rem 0rem;
    justify-content: center;
  }
  .micuenta-registro {
    width: 100%;
  }
  .contacto {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "area1" "area2" "area4" "area3" "area5" "area6" "area7";
    padding: 2rem 0rem 6rem 0rem;
  }
  .contacto-redes-caja4 {
    justify-content: center;
    border-bottom: 0.1rem solid #ffffff;
    width: 100%;
  }
  .contacto-comunicate-caja5 {
    border-left: none;
    border-bottom: 0.1rem solid #ffffff;
    padding: 3rem;
    width: 100%;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area3" "area2 area2" "area4 area4";
  }
}
@media only screen and (max-width: 768px) {
  .bienvenida h1 {
    font-size: 2rem;
  }
  .categoria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area2" "area3 area4";
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes {
    justify-content: center;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p {
    font-size: 1.3rem;
    padding: 0.3rem;
    margin: 0;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
    font-size: 1.4rem;
  }
  .productoscatalogo h2,
  .productosindex h2 {
    font-size: 3rem;
  }
  .productoscatalogo .clases-productos,
  .productosindex .clases-productos {
    padding: 0.5rem;
    width: 25rem;
    height: 47rem;
  }
  .productoscatalogo .clases-productos-nombre,
  .productosindex .clases-productos-nombre {
    font-size: 1.7rem;
  }
  .productoscatalogo .clases-productos-click1,
  .productosindex .clases-productos-click1 {
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0;
  }
  .catalogo-seccion a {
    font-size: 1.5rem;
  }
  .informacion {
    padding: 1rem 2rem;
  }
  .informacion p {
    font-size: 2rem;
  }
  .contacto-comunicate-formulario {
    font-size: 1.8rem;
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4";
  }
  .footer p {
    font-size: 1.3rem;
  }
}
@media only screen and (max-width: 576px) {
  .ofrecemos-conjuntodepartes {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4";
    justify-items: center;
    gap: 1rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes:nth-child(2n+2) {
    flex-direction: row-reverse;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes img {
    width: 7rem;
    height: 7rem;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p {
    font-size: 1.5rem;
    padding: 1.4rem 0.3rem;
    margin: 0;
  }
  .ofrecemos-conjuntodepartes .ofrecemos-partes p strong {
    font-size: 1.6rem;
  }
  .productosindex {
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4" "area5 area5";
  }
  .novedades {
    padding: 4rem 1rem;
  }
  .novedades h3,
  .novedades h2 {
    font-size: 2.5rem;
  }
  .novedades-form .form-control {
    width: 25rem;
  }
  .productoscatalogo h2,
  .productosindex h2 {
    font-size: 2.7rem;
  }
  .catalogo {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2" "area3 area4";
    gap: 5rem 1rem;
  }
  .productoscatalogo {
    grid-template-areas: "area1 area1" "area2 area2" "area3 area3" "area4 area4" "area5 area5" "area6 area6" "area7 area7" "area8 area8";
  }
  .informacion {
    padding: 1rem 0.5rem;
  }
  .contacto-comunicate-formulario {
    font-size: 1.6rem;
  }
  .contacto-comunicate-formulario .formulario-registro input {
    width: 30rem;
  }
  .contacto-comunicate-formulario .formulario-registro select {
    width: 30rem;
  }
  .contacto-comunicate-formulario .formulario-registro textarea {
    width: 30rem;
  }
  .contacto-redes-caja4 {
    gap: 0.5rem;
  }
  .contacto-redes-caja4 li .redes-link i {
    font-size: 5rem;
  }
  .footer-redes {
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
