.categoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3 area4'
    ;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    gap: 10rem;

    &-partes-caja1 {
        grid-area: area1;
    }

    &-partes-caja2 {
        grid-area: area2;
    }

    &-partes-caja3 {
        grid-area: area3;
    }

    &-partes-caja4 {
        grid-area: area4;
    }

    &-partes {
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        padding: 0.5rem;

        &-nombre {
            padding: 0.5rem;
            font-size: 2.5rem;
            color: $white;
            transition: 0.2s ease-out;
            text-decoration: none;

            &:hover {
                padding: 0rem;
                font-size: 3rem;
                color: $light-blue;
                text-shadow: 0.1rem 0.1rem 0.1rem $white;
            }
        }

        a {
            img {
                width: 23rem;
                height: auto;
                object-fit: cover;
                border: 0.3rem solid $white;
                border-radius: 100%;
                transition: 0.2s ease-out;

                &:hover {
                    border: 0.3rem solid $light-blue;
                }
            }
        }
    }
}

.ofrecemos-conjuntodepartes {
    display: grid;
    background-color: $white-trans;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3 area4'
    ;
    gap: 0.5rem;
    padding: 1rem;
    justify-items: center;

    .ofrecemos-partes-caja1 {
        grid-area: area1;
    }

    .ofrecemos-partes-caja2 {
        grid-area: area2;
    }

    .ofrecemos-partes-caja3 {
        grid-area: area3;
    }

    .ofrecemos-partes-caja4 {
        grid-area: area4;
    }

    .ofrecemos-partes {
        display: flex;
        padding: 0.5rem;
        justify-content: space-between;

        img {
            width: 7rem;
            height: 7rem;
            object-fit: cover;
            border: 0.2rem solid $black;
            border-radius: 100%;
        }

        p {
            padding: 1.4rem 0.5rem;
            font-size: 1.5rem;
            color: $dark;
            margin: 0rem;

            strong {
                color: $black;
                font-size: 1.6rem;
            }
        }
    }
}

.productosindex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area1 area1 area1'
        'area2 area3 area4 area5'
    ;
    gap: 1rem;
    padding: 4rem 2rem;
    justify-items: center;
}