.informacion {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 1rem 4rem;
    text-align: center;

    p {
        @include letter(2.2rem, 1rem, 0rem);
        color: $white;
    }
}

.informacion-galeria {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 5rem 1rem;

    img {
        width: 35.5rem;
        height: 23rem;
        object-fit: cover;
    }
}