@media only screen and (max-width:1400px) {

    //para Index
    .categoria {
        gap: 5rem;
    }

    .ofrecemos-conjuntodepartes {
        .ofrecemos-partes {
            padding: 0rem;

            p {
                font-size: 1.4rem;

                strong {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .productoscatalogo,
    .productosindex {
        .clases-productos {
            padding: 0.5rem;
            width: 27rem;
        }
    }

    //---------------------------------------------------
    //para footer
    .footer {
        &-redes {
            gap: 1rem;
            padding: 0.5rem;
        }
    }


    //---------------------------------------------------
    //para Informacion
    .informacion-galeria {
        gap: 1rem;
        padding: 5rem 0.5rem;
    }
}

@media only screen and (max-width:1200px) {

    //para index
    .bienvenida h1 {
        font-size: 3rem;
    }

    .categoria {
        &-partes {
            a {
                img {
                    width: 19.5rem;
                }
            }
        }
    }

    .ofrecemos-conjuntodepartes {
        .ofrecemos-partes {
            justify-content: center;

            img {
                width: 4.5rem;
                height: 4.5rem;
            }

            p {
                padding: 0.3rem;
                font-size: 1.3rem;

                strong {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .productosindex {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'area1 area1'
            'area2 area3'
            'area4 area5'
        ;
        gap: 1rem;
        padding: 4rem 2rem;
        justify-items: center;
    }

    //---------------------------------------------------
    //para Index y Productos
    .productoscatalogo,
    .productosindex {
        .clases-productos {
            padding: 1rem;
            width: 30rem;
        }
    }

    //---------------------------------------------------
    //para productos
    .productoscatalogo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            'area1 area1 area1'
            'area2 area3 area4'
            'area5 area6 area7'
            'area8 area8 area8'
        ;
    }

    //---------------------------------------------------
    //para Informacion
    .informacion-galeria {
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        img {
            width: 70%;
            height: auto;

        }
    }

    //---------------------------------------------------
    //para Footer
    .footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'area1 area3'
            'area2 .....'
            'area4 area4'
        ;

        &-redes {
            gap: 2rem;
            padding: 1rem;
        }
    }

}