.catalogo {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3 area4'
    ;
    justify-items: center;
    background-color: $dark;
    padding: 5rem 2rem;
    gap: 1rem;
    margin: 0rem;

    &-seccion {
        a {
            color: $white;
            background-color: $white-trans;
            font-size: 1.7rem;
            padding: 1.5rem;
            border-radius: 1rem;
            text-decoration: none;
            transition: 0.3s ease-out;

            &:hover {
                background-color: $light-blue-trans;
                text-shadow: 0.25rem 0.25rem 0.2rem $black;
                border-radius: 2rem;
            }
        }
    }

    &-seccion-caja1 {
        grid-area: area1;
    }

    &-seccion-caja2 {
        grid-area: area2;
    }

    &-seccion-caja3 {
        grid-area: area3;
    }

    &-seccion-caja4 {
        grid-area: area4;
    }
}

.productoscatalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area1 area1 area1'
        'area2 area3 area4 area5'
        '..... area6 area7 .....'
        'area8 area8 area8 area8'
    ;
    gap: 5rem 1rem;
    padding: 4rem 2rem;
    justify-items: center;

    .clases-productos-caja6 {
        grid-area: area6;
    }

    .clases-productos-caja7 {
        grid-area: area7;
    }

    .clases-productos-caja8 {
        grid-area: area8;
        padding: 2rem;
        font-size: 1.5rem;
        color: $white;
        text-decoration: none;

        a {
            padding: 1.5rem;
            font-size: 2rem;
            color: $white;
            border-radius: 1rem;
            background-color: $light-blue-trans;
            text-decoration: none;
            transition: 0.3s ease-out;

            &:hover {
                color: $white;
                background-color: $light-blue;
                border-radius: 2rem;
                text-shadow: 0.25rem 0.15rem 0.1rem $black;
            }
        }
    }
}