.catalogo {
    @include grid(grid, center, 5rem 2rem, 1rem);
    list-style-type: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3 area4'
    ;
    background-color: $dark;
    margin: 0rem;


    &-seccion {
        transition: 0.4s;
        @include animaciones;


        &:hover {
            transform: scale(1.2, 1.2);
        }

        a {
            @include letter(1.7rem, 1.5rem, 0rem);
            color: $white;
            background-color: $white-trans;
            border-radius: 1rem;
            text-decoration: none;
            transition: 0.3s ease-out;


            &:hover {
                background-color: $light-blue-trans;
                transform: scale(1.12, 1.12);
                text-shadow: 0.25rem 0.25rem 0.2rem $black;
                border-radius: 2rem;
            }
        }
    }

    &-seccion-caja1 {
        grid-area: area1;
    }

    &-seccion-caja2 {
        grid-area: area2;
    }

    &-seccion-caja3 {
        grid-area: area3;
    }

    &-seccion-caja4 {
        grid-area: area4;
    }
}

.productoscatalogo {
    @include grid(grid, center, 4rem 2rem, 5rem 1rem);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area1 area1 area1'
        'area2 area3 area4 area5'
        '..... area6 area7 .....'
        'area8 area8 area8 area8'
    ;

    .clases-productos-caja6 {
        grid-area: area6;
    }

    .clases-productos-caja7 {
        grid-area: area7;
    }

    .clases-productos-caja8 {
        @include letter(1.5rem, 2rem, 0rem);
        grid-area: area8;
        color: $white;
        text-decoration: none;
        transition: 0.3s ease-out;

        &:hover {
            transform: translateY(-15%);
        }

        a {
            @include letter(2rem, 1.5rem, 0rem);
            color: $white;
            border-radius: 1rem;
            background-color: $light-blue-trans;
            text-decoration: none;
            transition: 0.3s ease-out;

            &:hover {
                color: $white;
                border-radius: 2rem;
                text-shadow: 0.25rem 0.15rem 0.1rem $black;
            }
        }
    }
}