.catalogo {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3 area4'
    ;
    justify-items: center;
    background-color: #000000a9;
    padding: 5rem;
    gap: 1rem;
    margin: 0rem;

    &-seccion a {
        color: #ffffff;
        background-color: #8f9ca079;
        font-size: 1.7rem;
        padding: 1.5rem;
        border-radius: 1rem;
        text-decoration: none;
        transition: 0.3s ease-out;

        &:hover {
            background-color: #19a7ce85;
            text-shadow: 0.25rem 0.25rem 0.2rem #000000;
            border-radius: 2rem;
        }
    }

    &-seccion-caja1 {
        grid-area: area1;
    }

    &-seccion-caja2 {
        grid-area: area2;
    }

    &-seccion-caja3 {
        grid-area: area3;
    }

    &-seccion-caja4 {
        grid-area: area4;
    }
}

.productoscatalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area1 area1 area1'
        'area2 area3 area4 area5'
        '..... area6 area7 .....'
        'area8 area8 area8 area8'
    ;
    gap: 5rem 1rem;
    padding: 4rem 2rem;
    justify-items: center;

    h4 {
        grid-area: area1;
        font-size: 3.5rem;
        color: #ffffff;
        padding: 1rem;
        text-shadow: 0.25rem 0.25rem 0.1rem #000000;
        margin: 0rem;
    }

    .clases-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0000002a;
        border: 0.1rem solid #0000005e;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        box-shadow: 0rem 0rem 4rem #000000;
        padding: 1rem;
        width: 30rem;
        height: 53rem;
        text-align: center;
        overflow: hidden;
    
        img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            object-fit: cover;
            cursor: pointer;
        }

        &-nombre {
            font-size: 2rem;
            padding: 1.3rem 0.5rem;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }
        
        &-precio {
            font-size: 2.5rem;
            padding: 0.3rem;
            color: #ffffff;
        }
        
        &-envio {
            font-size: 1.5rem;
            padding: 0.3rem;
            color: #00ff00;
        }
        
        &-click {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0.5rem;
        
            &1 {
                font-size: 1.5rem;
                padding: 1rem;
                color: #ffffff;
                background-color: #8f9ca079;
                border-radius: 1rem;
                text-decoration: none;
                transition: 0.2s;
        
                &:hover {
                    background-color: #19a7ce85;
                    text-shadow: 0.25rem 0.15rem 0.1rem #000000;
                }
            }
        }
    }
    
    .clases-productos-caja6 {
        grid-area: area6;
    }

    .clases-productos-caja7 {
        grid-area: area7;
    }

    .clases-productos-caja8 {
        grid-area: area8;
        padding: 2rem;
        font-size: 1.5rem;
        color: #ffffff;
        text-decoration: none;

        a {
            padding: 1.5rem;
            font-size: 2rem;
            color: #ffffff;
            border-radius: 1rem;
            background-color: #19a7ce85;
            text-decoration: none;
            transition: 0.3s ease-out;

            &:hover {
                color: #ffffff;
                background-color: #19a7cecc;
                border-radius: 2rem;
                text-shadow: 0.25rem 0.15rem 0.1rem #000000;
            }
        }
    }
}