.footer {
    @include grid(grid, center, 1rem, 1rem);
    background-image: url('../images/fondodenav.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3'
        'area4 area4 area4'
    ;

    &-logo-caja1 {
        grid-area: area1;
    }

    &-redes-caja2 {
        grid-area: area2;
    }

    &-horario-caja3 {
        grid-area: area3;
    }

    &-logo {
        display: flex;
        padding: 1rem;
        transition: 0.3s ease-out;
        align-items: center;

        &:hover {
            padding: 0rem;
        }

        img {
            width: 30rem;
            transition: 0.3s ease-out;

            &:hover {
                width: 32rem;
            }
        }
    }

    &-redes {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        list-style-type: none;
        margin: 0rem;
        align-items: center;
        flex-wrap: wrap;

        &-link {
            i {
                font-size: 4rem;
                padding: 1rem;
                transition: 0.2s ease-out;

                &:hover {
                    font-size: 5rem;
                    padding: 0.50rem;
                }
            }

            .bi-youtube {
                color: $red;
            }

            .bi-twitter {
                color: $light-blue;
            }

            .bi-whatsapp {
                color: $green;
            }

            .bi-facebook {
                color: $blue;
            }

            .bi-instagram {
                color: $orange;
            }
        }
    }

    .footer-horario {
        display: flex;
        flex-direction: column;
        border: 0.3rem solid $light-blue;
        text-align: center;
        padding: 1rem;
        margin: 1rem;

        h6 {
            font-size: 2.4rem;
            color: $light-blue;
            text-decoration: underline;
            padding: 1rem;
            margin: 0rem;
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0.2rem;
            list-style-type: none;
            margin: 0rem;

            li {
                font-size: 1.6rem;
                color: $light-blue;
            }
        }
    }

    p {
        grid-area: area4;
        padding: 0rem 1rem 0.5rem 1rem;
        display: flex;
        text-align: center;
        font-size: 1.5rem;
        color: $light-blue;
        margin: 0rem;
    }
}