.footer {
    @include grid(grid, center, 1rem, 1rem);
    background-image: url('../images/fondodenav.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        'area1 area2 area3'
        'area4 area4 area4'
    ;

    &-logo-caja1 {
        grid-area: area1;
    }

    &-redes-caja2 {
        grid-area: area2;
    }

    &-horario-caja3 {
        grid-area: area3;
    }

    &-logo {
        display: flex;
        padding: 0.5rem;

        img {
            width: 30rem;
            transition: 0.4s ease-out;

            &:hover {
                transform: scale(1.1, 1.1);
                filter: saturate(120%);
            }
        }
    }

    &-redes {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 1rem;
        list-style-type: none;
        margin: 0rem;
        flex-wrap: wrap;
        align-items: center;

        &-list {
            transition: 0.2s ease-out;

            &:hover {
                transform: scale(1.3, 1.3);
                filter: saturate(140%);
            }

            &-link {
                i {
                    @include letter(4rem, 1rem, 0rem);
                    transition: 0.2s ease-out;
                }

                .bi-youtube {
                    color: $red;
                }

                .bi-twitter {
                    color: $light-blue;
                }

                .bi-whatsapp {
                    color: $green;
                }

                .bi-facebook {
                    color: $blue;
                }

                .bi-instagram {
                    color: $orange;
                }
            }
        }
    }

    .footer-horario {
        display: flex;
        flex-direction: column;
        border: 0.3rem solid $light-blue;
        text-align: center;
        padding: 1rem;
        margin: 1rem;

        h4,
        h3,
        h5 {
            @include letter(2.5rem, 1rem, 0rem);
            color: $light-blue;
            text-decoration: underline;
        }

        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding: 0.2rem;
            list-style-type: none;
            margin: 0rem;

            li {
                font-size: 1.6rem;
                color: $light-blue;
            }
        }
    }

    p {
        grid-area: area4;
        text-align: center;
        display: flex;
        @include letter(1.5rem, 0rem 1rem 0.5rem 1rem, 0rem);
        color: $light-blue;
    }
}