.bg-dark {
    height: 12rem;
    background-image: url('../images/fondodenav.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .container-fluid {
        .navbar-brand {
            overflow: hidden;
            object-fit: cover;

            img {
                width: 11rem;
                height: auto;
                padding: 0rem 0rem 0rem 2rem;
                transition: 0.4s;

                &:hover {
                    width: 11.5rem;
                    height: auto;
                    padding: 0rem;
                }
            }
        }

        .navbar-collapse {
            .navbar-nav {
                gap: 0.5rem;

                .nav-item {
                    transition: 0.6s ease-out;
                    padding: 0rem 0.3rem;
                    border-radius: 1rem;

                    &:hover {
                        background-color: $light-blue-trans;
                    }

                    .nav-link {
                        font-size: 2.5rem;
                        color: $light-blue;
                        transition: 0.4s ease-out;
                        text-shadow: 0.1rem 0.1rem 0.1rem $white;

                        &:hover,
                        &:focus {
                            color: $white;
                            text-shadow: 0.25rem 0.15rem 0.3rem $black;
                        }

                        i {
                            padding: 0rem 1rem;
                            text-shadow: none;

                            &:hover {
                                text-shadow: 0.25rem 0.15rem 0.3rem $black;
                            }
                        }
                    }

                    .active {
                        color: $white;
                        text-shadow: none;

                        &:hover {
                            text-shadow: 0.3rem 0.2rem 0.3rem $black;
                        }
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        background-color: $light-blue-trans;
                        font-size: 1.7rem;
                        text-align: center;
                        margin: 0rem 0.6rem;
                        padding: 0.5rem;

                        .dropdown-item {
                            color: $white;
                            text-shadow: 0.25rem 0.15rem 0.3rem $black;
                            border-radius: 0.3rem;
                            transition: 0.4s ease-out;
                            margin: 0.3rem 0rem;

                            &:hover {
                                color: $black;
                                text-shadow: 0.15rem 0.10rem 0.3rem $black;
                            }
                        }

                        .dropdown-divider {
                            margin: 0.1rem 0rem;
                        }
                    }

                    .menu-micuenta {
                        margin: 0rem 2.3rem;
                    }
                }
            }
        }
    }
}