//Titulos de todos los html
.bienvenida h1,
.titulo-principal {
    font-size: 3.5rem;
    color: #ffffff;
    font-weight: 500;
    padding: 3rem 2rem;
    text-align: center;
    text-shadow: 0.25rem 0.25rem 0.1rem #000000;
    margin: 0rem;
}


//---------------------------------------------------
//Tiulos para contacto y micuenta
.titulo-articulo {
    font-size: 2.3rem;
    color: #dddcdc;
    text-decoration: underline;
    padding: 1rem;
}

//---------------------------------------------------
//flechas de carousel para index y micuenta
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 6rem;
    height: 6rem;
}

//---------------------------------------------------
//formulario para contacto y micuenta
.contacto-comunicate-formulario {
    text-align: center;
    color: #dddcdc;
    font-size: 2rem;

    .formulario-registro {
        display: flex;
        padding: 1rem;
        justify-content: center;
        gap: 1rem;

        input {
            width: 40rem;
            height: 3rem;
        }

        &-button {
            background-color: #ffffff71;
            padding: 0.5rem;
            transition: 0.3s ease-out;

            &:hover {
                background-color: #19a7ce85;
                color: #ffffff;
                text-shadow: 0.15rem 0.15rem 0.1rem #000000;
                border-radius: 1rem;
            }
        }

        a {
            text-decoration: none;
            color: #dddcdc;
            transition: 0.3s ease-out;

            &:hover {
                color: #19a7ceec;
                text-decoration: underline;
            }
        }
    }
}

//---------------------------------------------------
//Cards de index y productos
.productoscatalogo,
.productosindex {

    h4 {
        grid-area: area1;
        font-size: 3.5rem;
        color: #ffffff;
        padding: 1rem;
        text-shadow: 0.25rem 0.25rem 0.1rem #000000;
        margin: 0rem;
    }

    .clases-productos-caja2 {
        grid-area: area2;
    }

    .clases-productos-caja3 {
        grid-area: area3;
    }

    .clases-productos-caja4 {
        grid-area: area4;
    }

    .clases-productos-caja5 {
        grid-area: area5;
    }

    .clases-productos {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #0000002a;
        border: 0.1rem solid #0000005e;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        box-shadow: 0rem 0rem 4rem #000000;
        padding: 1rem;
        width: 30rem;
        height: 53rem;
        text-align: center;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            border-radius: 0.5rem;
            object-fit: cover;
            cursor: pointer;
        }

        &-nombre {
            font-size: 2rem;
            padding: 1.3rem 0.5rem;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
        }

        &-precio {
            font-size: 2.5rem;
            padding: 0.3rem;
            color: #ffffff;
        }

        &-envio {
            font-size: 1.5rem;
            padding: 0.3rem;
            color: #00ff00;
        }

        &-click {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            padding: 0.5rem;

            &1 {
                font-size: 1.5rem;
                padding: 1rem;
                color: #ffffff;
                background-color: #8f9ca079;
                border-radius: 1rem;
                text-decoration: none;
                transition: 0.2s;

                &:hover {
                    background-color: #19a7ce85;
                    text-shadow: 0.25rem 0.15rem 0.1rem #000000;
                }
            }
        }
    }
}

//---------------------------------------------------
//Novedades usado en index y informacion
.novedades {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000a9;
    text-align: center;
    padding: 4rem;

    h6 {
        font-size: 3rem;
        color: #ffffff;
        padding: 1rem;
    }

    p {
        font-size: 1.5rem;
        color: #ffffff;
        padding: 1rem;
    }

    &-form {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        .form-control {
            display: flex;
            font-size: 1.5rem;
            width: 40rem;
            height: 3rem;
            margin: 0rem;
            padding: 0rem;
        }

        .btn-secondary {
            font-size: 1.2rem;
            background-color: #19a7ceb6;
            transition: 0.15s ease-out;

            &:hover {
                background-color: #106f8ab6;
                color: #d4d4d4;
            }
        }
    }
}