//Mixins
@mixin grid($display, $place, $padding, $gap) {
    display: $display;
    place-items: $place;
    padding: $padding;
    gap: $gap;
}

@mixin letter($size, $padding, $margin) {
    font-size: $size;
    padding: $padding;
    margin: $margin;
}

@mixin animaciones {
    animation-name: animacion;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1s;
    transform: scale(1);
}