//Paleta de Colores
$light-blue: #19a7ce;
$light-blue-trans: #19a7ce85;
$white: #ffffff;
$whitesmoke: #d6d3d3;
$white-trans: #ffffff71;
$grey: #8f9ca079;
$black: #000000;
$dark: #000000b7;
$black-trans: #0000003d;
$red: #ff0000;
$blue: #1778f2;
$green: #2dda41;
$orange: #d94561;